@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    position: relative;
}

li {
    list-style-type: none;
}

.purple {
    color: #6415ff;
}

.btn {
    font-size: 16px;
    font-weight: 600;
    border: none;
    background-color: #6415ff;
    color: white;
    border-radius: 24px;
    padding: 12px 24px;
}

.container {
    padding: 94px;
}

.row {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.section__top-title {
    font-size: 18px;
    color: rgb(72, 15, 187);
    font-weight: 700;
    letter-spacing: 1px;
}

.section__title {
    font-size: 48px;
    font-weight: 900;
    margin: 20px 0;
}

.section__para {
    line-height: 1.5;
    color: gray;
    font-weight: 400;
    font-size: 18px;
}

.not__allowed {
    cursor: not-allowed;
}

/* NAVIGATION */

#landing {
    height: 100vh;
    padding: 24px;
}

nav {
    width: 100%;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    height: 68px;
}

.nav__links {
    display: flex;
}

.nav__link {
    margin-left: 24px;
    color: #243e63;
    font-weight: 500;
}

.link__hover-effect:after {
    content: "";
    position: absolute;
    height: 2px;
    background-color:#6415ff;
    width: 100%;
    bottom: -4px;
    left: 0;
    opacity: 0;
    transition: all 300ms ease;
}

.link__hover-effect:hover:after {
    opacity: 1;
}

.link__hover-effect:hover {
    color: #6415ff;
}

.nav__link--login {
    margin-left: 40px;
}

.nav__link--sign-up {
    background-color: #6415ff;
    color: white;
    border-radius: 24px;
    padding: 12px 24px;
    transition: background-color 300ms ease;
}

.nav__link--sign-up:hover {
    background-color: rgb(72, 15, 187);
}

.nav__logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav__logo--img {
    max-width: 52px;
}

.nav__logo--anchor {
    color: #243e63;
    font-weight: 900;
    font-size: 24px;
    margin-left: 16px;
    transition: color 300ms ease;
}

.nav__logo--anchor:hover {
    color: #6415ff;
}

header {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    padding: 60px 0;
}

.header__description--wrapper {
    width: 40%;
    height: 100%;
}

.header__description--title {
    font-size: 40px;
    font-weight: 700;
}

.header__description--para {
    font-size: 16px;
    margin: 32px 0;
    line-height: 1.5;
}

.header__description--input-wrapper {
    position: relative;
}

.header__description--input-box {
    width: 90%;
    padding: 20px 16px;
    font-size: 16px;
    border: 2px solid lightgray;
    border-radius: 40px;
    transition: all 300ms ease;
}


.header__description--input-box:hover {
    border-color: darkgray;
}

.header__description--input-button {
    position: absolute;
    right: 54px;
    top: 6px;
    padding: 16px 32px;
    transition: background-color 300ms ease;
}

.header__description--input-button:hover {
    background-color: rgb(72, 15, 187);

}

.header__description--customer-list-title {
    font-weight: 800;
    font-size: 14px;
    color: darkgray;
    margin: 72px 0 16px 0;
}

.header__description--customer-list-img {
    width: 80%;
    filter: invert(1);
}

.header__img--wrapper {
    width: 60%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}

.header__img {
    width: 100%;
    height: 85%;
}

/* FEATURES */

.row__features {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.features__description--wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    max-width: 700px;
}

.features__section--para {
    width: 100%;
    max-width: 600px;
    margin-bottom: 60px;
}

.features__list--wrapper {
    display: flex;
    flex-wrap: wrap;
    margin: 0 auto;
}

.feature {
    display: flex;
    width: calc(100% / 3);
    height: 100%;
    max-height: 160px;
    margin-bottom: 38px;
}

.features__img {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    width: 25%;
    margin: 0 16px;
}

.feature__img--wrapper {
    display: flex;
    border: 2px solid lightgray;
    border-radius: 50px;
    width: 100%;
}

.feature__img {
    width: 100%;
    transform: scale(.4);
}

.feature__content--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    margin: 0 auto;
    width: 75%;
    /* max-width: 200px; */
}

.feature__content--title {
    text-align: left;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 16px;
}

.feature__content--para {
    text-align: left;
    line-height: 1.75;
    font-size: 16px;
    color: gray;
}

/* QUALITY WORK */

.container__quality {
    padding: 48px;
}

.row__quality {
    display: flex;
    align-items: center;
}

.quality__description--wrapper {
    width: 50%;
    padding-right: 24px;
}

.quality__img--wrapper {
    width: 50%;
}

.quality__img {
    width: 100%;
}

.quality__description--button {
    margin: 32px 0;
}

/* STEPS */

.row__quality {
    display: flex;
    align-items: center;
    justify-content: center;
}

.steps__description--wrapper {
    width: 50%;
    display: flex;
    flex-direction: column;
    margin-left: 56px;
}

.steps__img--wrapper {
    width: 50%;
}

.steps__img {
    width: 100%;
}

.step {
    display: flex;
    width: 100%;
    max-width: 360px;
}

.step__number {
    width: 10%;
    margin-right: 24px;
    font-size: 32px;
    color: rgba(160, 160, 160,0.6);
    font-weight: 600;
}

.step__content {
    width: 90%;
}

.step__content--title {
    font-size: 18px;
    margin-bottom: 8px;
}

.step__content--para {
    line-height: 1.5;
    color: gray;
    margin-bottom: 24px;
}

/* VALUES */

.row__values {
    display: flex;
}

.values__content--wrapper {
    width: 50%;
    margin-right: 48px;
}

.values__list--wrapper {
    display: flex;
    margin: 40px 0;
}

.values__principles--wrapper {
    margin-right: 28px;
}

.values__title--wrapper {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.icon__wrapper--professionalism, .icon__wrapper--affordable {
    border-radius: 50%;
    padding: 8px;
    display: flex;
    width: 20%;
}

.icon__wrapper--affordable {
    background-color: lightgreen;
}

.icon__wrapper--professionalism {
    background-color: lightcoral;
}

.values__icon--affordable, .values__icon--professionalism {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.values__icon--affordable {
    color: darkgreen;
}

.values__icon--professionalism {
    color: darkred;
}

.values__principles--title {
    display: flex;
    font-size: 20px;
    margin-left: 8px;
    width: 80%;
}

.values__principles--para {
    line-height: 1.5;
    color: gray;
    font-weight: 400;
}

.values__figure--wrapper {
    width: 50%;
    display: flex;
}

.values__img {
    width: 100%;
}

/* PRICING */

.row__pricing {
    text-align: center;
}

.section__para--pricing {
    width: 100%;
    max-width: 650px;
    margin: 0 auto;
}

.pricing-tier__list--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    margin: 48px auto;
}

.pricing-tier {
    border: 1.75px solid lightgray;
    border-radius: 12px;
    width: calc(95% / 3);
    position: relative;
}

.pricing-tier__top-decoration--personal {
    background-color: rgb(56,178,172);
}

.pricing-tier__top-decoration--enterprise {
    background-color: rgb(245,101,101);
}

.pricing-tier__top-decoration--enterprise, .pricing-tier__top-decoration--personal {
    width: 100%;
    height: 8px;
    position: absolute;
    top: 0;
    left: 0;
    border-top-left-radius: 12px;
    border-top-right-radius: 12px;
}

.pricing-tier__top, .pricing-tier__middle, .pricing-tier__bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: 24px auto;
}

.pricing-tier__name {
    font-size: 20px;
    font-weight: 700;
}

.pricing-tier__price {
    font-size: 40px;
    font-weight: 700;
    margin: 16px 0;
}

.pricing-tier__duration {
    font-size: 16px;
    font-weight: 700;
    color: darkgray;
}

.pricing-tier__business-size {
    font-size: 16px;
    font-weight: 700;
}

.pricing-tier__feature {
    font-size: 16px;
    font-weight: 500;
    color: darkgray;
    margin-top: 16px;
}

.pricing-tier__business {
    background-color: rgb(102,126,234);
    color: white;
}

.white {
    color: white;
}

.pricing-tier__button {
    border: none;
    border-radius: 24px;
    padding: 16px 40px;
    color: white;
    font-weight: 800;
    font-size: 12px;
    letter-spacing: 1px;
}

.button__personal {
    background-color: rgb(56,178,172);
}

.button__business {
    color: #6415ff;
}

.button__enterprise {
    background-color: rgb(245,101,101);
}

/* TESTIMONIALS */

.row__testimonials {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.testimonials__img--wrapper {
    width: 40%;
}

.testimonials__img {
    display: flex;
    width: 100%;
}

.testimonials__content--wrapper {
    width: 55%;
}

.ratings {
    margin-top: 40px;
    color: #fda93b;
}

.testimonial__title {
    margin: 32px 0 16px 0;
    font-size: 20px;
    font-weight: 700;
}

.testimonial__para {
    color: gray;
    font-weight: 500;
    line-height: 1.5;
}

.testimonial__user--wrapper {
    display: flex;
    margin-top: 40px;
}

.user__img--wrapper {
    display: flex;
    width: 75px;
    height: 75px;
    border-radius: 50%;
    overflow: hidden;
}

.user__img {
    width: 100%;
    transform: scale(1.20);
}

.user__content--wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 20px;
}

.user__name {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}

.user__title {
    font-size: 16px;
    font-weight: 500;
    color: gray;
}

/* FAQ */

.row__questions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.questions__section--wrapper {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.questions__box--wrapper {
    background-color: rgb(102,126,234);
    width: 100%;
    display: flex;
    padding: 60px 24px;
    border-radius: 16px;
    align-items: center;
    margin: 60px 16px;
}

.questions__box {
    width: 50%;
}

.questions__buttons {
    width: 50%;
    display: flex;
    justify-content: center;
}

.questions__button--start, .questions__button--contact {
    border-radius: 24px;
    padding: 16px 32px;
    color: white;
    font-weight: 700;
    font-size: 16px;
}

.questions__button--start {
    border: none;
    background-color: rgb(245,101,101);
}

.questions__button--contact {
    border: 1px solid white;
    background-color: rgb(102,126,234);
    margin-left: 20px;
}

.questions__box--title {
    color: white;
    font-weight: 700;
    font-size: 24px;
    text-align: left;
    line-height: 1.5;
}

/* FOOTER */

footer {
    background-color: rgb(102,126,234);
    color: white;
}

.footer__container {
    padding: 60px 24px 32px 24px;
}

.footer__row {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.footer__list--wrapper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 44px;
}

.footer__list {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.footer__list--name {
    margin-bottom: 24px;
    font-size: 16px;
    font-weight: 700;
}

.footer__list--anchor {
    font-size: 14px;
    margin-bottom: 16px;
    font-weight: 500;
}

.footer__list--anchor {
    color: white;
}

.footer__copyright--wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 32px;
}

.footer__logo--wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer__logo--img {
    width: 40px;
}

.footer__logo--title {
    margin-left: 8px;
    font-size: 20px;
    font-weight: 800;
}

.footer__socials {
    display: flex;
}

.footer__social--wrapper {
    background-color: white;
    display: flex;
    width: 100%;
    border-radius: 50%;
    padding: 8px;
    margin-left: 8px;
}

.footer__icon {
    color: #000;
}



/* RESPONSIVENESS */

@media(max-width: 768px) {

   

}

